*.DS_Store
build
depends
Deps
.inigo-work
Base/*/build
Base/*/Deps
Server/InigoStatic/Local/*
.terraform
*.tfstate
*.tfstate.backup
*.ipkg
!*Bootstrap.ipkg
!Inigo.ipkg
!Server/InigoServer/InigoServer.ipkg
*.idr~

# editor
.vscode

# golden tests
!golden/tests.ipkg
output
failures
